@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Orbitron:wght@400;500;600;700&display=swap'); /*font-family: 'Homemade Apple', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
  }
  
  html:focus-within {
    scroll-behavior: smooth;
  }

  
body {
    min-height: 100vh;
    overflow-x: hidden;
    text-rendering: optimizeSpeed;
}

    h1, h2, h3 {
        text-align: center;
    }
    a {
        text-decoration: underline;
        cursor: pointer;        
    }
    p {
        line-height: 32px;
    }
    .glowtext {
        animation: glowtext .6s infinite;
    }
    .bold {
        font-weight: 700;
    }
    .cursive {
        font-style:italic;
    }
    .text-center {
        text-align: center;
    }

img {
    max-width: 100%;
    display: block;    
}

.modal-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: none;
}
.modal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 75%;
    max-width: 700px;
    width: 100%;
    padding: 40px 0 0 0;
}

button {
    cursor: pointer;
}
  

/********** CUSTOM STYLE **********/
nav {
    overflow: auto;    
}
    #launch {
        width: 150px;
        height: 37px;
        font-size: 18px;
        line-height: 32px;
        font-weight: bold;
        letter-spacing: -1px;
        text-align: center;
        float: left;
        display: block;
        margin: 2px;        
    }
    #status {
        height: 40px;
        font-size: 14px;
        text-align: center;
        padding: 0 4px;
        float: right;
        margin: 2px;        
    }    

.scroll {
    overflow-y: auto;
}

.appmOS {
    height: 400px;
    font-size: 12pt;
    padding: 1em;
    margin: 8px;    
}
    .modal-close {
        position: absolute;
        top: 5px;
        right: 10px;
        width: 40px;
        height: 40px;
        background: url("assets/images/close-button.webp") no-repeat 0 0;
        text-indent: -9999px;
        display: block;        
    }

    .appmOS > p > .glowtext {
        float: right;
    }

#desktop-items {
    max-width: 570px;
    padding: 40px;
    margin: 15% auto;
    overflow: auto;
}
    .icon {
        width: 130px;
        height: 150px;
        float: left;
        margin: 0 20px 0 0;
    }
    .icon > a > img {
        width: 90px;
        height: 125px;
    }
    #gamer-icon, #projects-icon, #coffee-icon, #donut-icon {
        padding-top: 25px;
    }
    #gamer-img, #projects-img, #coffee-img, #donut-img {
        width: 80px;
        height: 80px;
    }
    .icon > a > span {
        text-shadow: 1px 2px rgba(0,0,0,.9);
    }

    .icon > a > img, .icon > a > span {
        display: block;
        margin: 0 auto;
        text-align: center;
      }

    .avatar {
        width: 96px;
        height: 96px;
        margin: 10px auto;
        border-radius: 50%;
    }
        #nov-avatar {
            height: 150px;
        }
    .emoji {
        width: 40px;
        display: inline-block;
    }
    #tama, #coffee-button {
        margin: 0 auto;
    }
    .soon {
        width: max-content;
        margin: 20% 30%;
        font-size: 2rem;
    }
    #counter {
        display: inline;
    }

#magic-ball-container {
    height: 580px;
}
    .magic-form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 18px 8px 8px 8px;
    }
        input {
            margin-top: 18px;
            padding: 8px;
        }

        #btn-magic {
            margin: 18px 0;
            padding: 0 18px;
            border: 0;
            line-height: 3;
            font-size: 1.2rem;
        }

        #magicEightBall {
            width: 250px;
            height: 250px;
            margin: 0 auto;
            background-image: url(assets/images/magic-eight-ball.png);
            background-size: contain;
            background-repeat: no-repeat;
        }

        #magicEightBall:hover{
            transform: rotate(360deg);
            transition: 3s ease-in-out;
         }
            #answer{
                display: none;
                margin: 20%;
                padding-top: 58px;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                text-align: center;
            }

/********** SPECIFIC MEDIA QUERIES **********/
/******** MOBILE ********/
@media (max-width: 767px) {
    #desktop-items {
        width: min-content;
        padding: 50px;
    }
    .icon {
        width: 130px;
        height: 150px;
    }
    .icon-text {
        margin-bottom: 20px;
    }
}